  @font-face {
    font-family: Gilroy-Regular;
    src: url('../fonts/Gilroy-Medium.ttf');
  } 

  @font-face {
    font-family: AbrilFatface-Regular;
    src: url('../fonts/AbrilFatface-Regular.ttf');
  } 
  
  * {
    font-family: Gilroy-Regular;
  }
  
  /* For the blog landing page */
  .banner-container {
    position: relative;
  }
  
  .featured-label {
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #E45E5E;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 4px;
  }
  
  .banner-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    opacity: 0.9;
  }

  .banner-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 600px;
    /*height: 40%;
    max-height: 600px;*/
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0 0;
  }
  
  .overlay-content {
    padding: 20px;
  }
  
  .blog-category {
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .category-link {
    text-decoration: underline;
    color: #333;
  }
  
  .blog-featured-topic {
    margin-top: 10px;
  }
  
  .blog-featured-topic h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
  
  .read-now {
    margin-top: 10px;
  }
  
  .read-now-link {
    text-decoration: none;
    color: #E45E5E;
    font-weight: bold;
  }


  /* For the blog menu bar */
  .blog-menu-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .blog-menu-item {
    color: #333;
    text-decoration: none;
    font-family: AbrilFatface-Regular;
    font-size: 35px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .blog-menu-item:hover {
    background-color: #ddd;
  }

  /* Style for active category */
  .blog-menu-item.active-category {
    color: #E45E5E;
    font-weight: bold;
  }

  .category-header-2 {
    color: #E45E5E;
    font-size: 80px;
    font-family: AbrilFatface-Regular;
    text-align: left;
    line-height: 108px;
    padding: 0 100px;
  }

  .category-posts {
      display: flex;
      flex-wrap: wrap;
      width: 80vw;
      min-width: 250px;
      margin: auto;
      align-items: center;
      justify-content: center;
  }

  .blog-post-preview {
      box-sizing: border-box;
      padding: 25px 30px;
  }

  /* For the blog post list by category */
  .blog-post-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .scroll-container {
    transition: left 0.8s ease;
  }
  
  .blog-post-list {
    display: flex;
    gap: 100px;
  }
  
  .scroll-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 100px;
  }
  
  .scroll-button:hover {
    color: #333;
  }

  /* For blog post list spacing */
  .blog-post-list-spacer {
    padding: 50px;
  }

  
  /* For category header */
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 100px;
  }
  
  .view-more-link {
    color: #333;
    text-decoration: none;
  }
  
  .view-more-link:hover {
    text-decoration: underline;
  }


  /* For blog post preview */
  .blog-post-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .thumbnail-container {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .post-info {
    text-align: left;
    width: 250px;
  }
  
  .blog-category {
    font-size: 14px;
  }
  
  .blog-topic {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: AbrilFatface-Regular;
  }
  
  .topic-link {
    text-decoration: none;
    color: #333;
  }
  
  .created-date {
    font-size: 12px;
    color: #666;
  }
  
  /* For blog post content container */
  .blog-post-container {
    margin: auto;
    width: 60vw;
    min-width: 200px;
    padding: 50px;
  }

  .blog-post-header {
    text-align: left;
  }

  .blog-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .blog-post-content {
    text-align: justify;
    line-height: 200%;
    font-size: x-large;
  }

  .blog-post-spacer {
    padding: 10px;
  }