.container-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .hero-content-new {
    display: flex;
    flex-direction: row; /* Ensure text is on the left and image is on the right */
    align-items: center;
    width: 100%; /* Ensuring full width */
    max-width: 1400px; /* Increased maximum width */
    padding: 50px; /* Adding more padding to all sides */
    box-sizing: border-box; /* Including padding in width calculation */
    
  }
  
  .hero-text-new {
    flex: 1; /* Takes up remaining space */
    padding: 80px; /* Adding more padding to all sides */
    box-sizing:border-box; /* Including padding in width calculation */
    font-size: larger;
  }
  
  .hero-img-new {
    width: 80%; /* Increased width */
    height: auto; /* Maintain aspect ratio */
    padding: 0px; /* Adding more padding to all sides */
    box-sizing: border-box; /* Including padding in width calculation */
    transition: box-shadow 0.3s ease; /* Add transition for a smooth effect */
    overflow: hidden;
  }
  .hero-img-new:hover{
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 16px;
  }
  
  .typewriter-new {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 2rem; /* Increased margin */
  }
  
  .feature-content-p-new {
    font-size: 2rem; /* Increased font size */
    margin-bottom: 2rem; /* Increased margin */
  }
  
  .button-container-new {
    margin-top: 2rem; /* Increased margin */
  }
  
.summary{
    
   margin-top: 50px; /* Add margin to top */
   background-color: #df646a;
   
}
.summary h2{
    font-size: 30px;
    font-weight: 400;
    font-family:  Gilroy-Medium;
   padding: 10px;
   margin: 70px;
   color: white;
}
.features {
    margin-top: 50px;


}
.features h2 {
    color: #df646a;
    text-align:left;
    padding: 60px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 240px;
    padding: 120px;
   
  }
  
  .grid-item {
    position: relative;
  
  }
  
  
  .circle-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .content {
    position: absolute;
    bottom: -30px; /* Adjust as needed */
   
   
   
  }
  .summary-text 
  {
    background-color:#df646a ;
  }

 .summary-text h1{
    text-align: center;
    color: white;
    font-size: 50px;
 } 
 .summary-text h3{
    font-size: 30px;
    font-weight: 400;
    font-family:  Gilroy-Medium;
   
   margin: 20px;
   color: white;
 }
 .button-invite
 {
    text-align: center;
    padding: 20px;
 }
 